.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(243, 149, 8);
    
  }
.logo {
  max-width: 120px;
}
.title {
  color: white;
}

  