.inputBox {
    display: flex;
    width: 50%;
    margin: auto;
    margin-bottom:4em;
    box-shadow: 0 10px 6px -6px #777;
}
.inputField {
    width: 100%;
    height: 30px;
    border: 2px solid;
}